body {
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 300px;
    background-color: cyan;
    border: 4px solid black;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculations {
    display: row;
    justify-content: center;
    align-items: center;
}


span {
    background-color: gray;
    border: 2px solid black;
    /* border-radius: 20px; */
    padding: 7px 20px;
}

#sum-el{
    background-color: rgb(97, 74, 228);
    border: 2px solid black;
    /* border-radius: 20px; */
    padding: 7px 30px;

}

button {
    margin: 20px 0;
    background: gray;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 7px 14px;
}
